
@{
    ViewBag.Title = "ATM";
}

<div class="shell">
    <h2>ATM Requirements</h2>
    <div class="resume">
        <p>
            Write a program that will: <br />a.Ask the user to enter an account number for their account
            .Continue to ask the user for their account number until they get it right (the correct account number will be hard coded in your code. See the Login section for an example). Optionally, consider locking them out after a certain number of failed attempts.<br />b.Once they get the correct account number, ask them for a pin number (you can use the additionalLogin functionality as a reference). Just as you did for their account number, continue to prompt the user for their pin until they get it correct. (The correct value will be hard coded just as it was for the account number) <br />c.Once the user has successfully given their account and pin numbers, prompt the user with a menu and ask them if they want to do a deposit, a withdrawal, or exit the application. <br />d.If they choose to do a deposit, ask them for the amount to deposit, and display the amount deposited. Ex. “$500.00 has been deposited into account number 12345”<br />e.If they choose to withdraw money, ask them for the amount to withdraw and display the amount withdraw. Ex. “$500.00 has been withdrawn from account number 12345”<br />f.After each transaction (deposit or withdrawl), ask the user if they want to do another deposit, withdraw, or exit the application. <br />g.When the user exits the application, thank them for their business.Additional <br />Optional Features:  <br />• Keep a running total of the account balance, assuming that the account starts at $0. <br />• Every time the user makes a deposit to - or withdraw from - the account, the balance should be updated and displayed. <br />• Add a feature for the user to make a balance request that will display their current balance (without needing to make a deposit or withdrawal).<br />
            <strong>Acount Number:123456 <br />PIN Number:1234</strong><br />
        </p>
        <div><a href="https://github.com/ianwhitehill/CSF1WeekendHomeWork" target="_blank" class="btn btn-primary">Git Hub Repo</a></div>
    </div>
</div>