
@{
    ViewBag.Title = "Dungeon";
}

<div class="shell">
    <h2>Dungeon App</h2>
    <div class="resume">
        <p>
            1) Create a new solution for your dungeon app.<br/>

            The name for the solution should reflect the name of your dungeon. For example, VikingVoyage.<br />
            The solution should be stored in the 02_CSF2 folder.<br />
            The project type should be ConsoleApplication(.Net Framework)<br />
            The name of the project should be your dungeon's name plus "Application". For example, VikingVoyageApplication.<br />
            2) In the program.cs file that is generated for your Console Application, wire frame out the functionality for your game using the Dungeon Application project that we built together in class.<br />
        </p>
        <div><a href="https://github.com/ianwhitehill/Pawnee-City-Hall" target="_blank" class="btn btn-primary">Git Hub Repo</a></div>
    </div>
</div>
