
@{
    ViewBag.Title = "FinalPorject";
}

<div class="shell">
    <h2>Job Board</h2>
    <div class="resume">
        <p>
            I was assigned a project to build a 2 tier MVC application in the .Net framework using Microsoft SQL Server Management Studio and Microsoft Visual Studio. The focus of this application was to share job openings easily between multiple locations and different user types. The project required functionality by user type including:<br/>
            1.	Admins with full CRUD functionality on all areas of the application<br />
            2.	Managers to be limited to the ability to view, edit, and create specific data to their location<br />
            3.	Employees to have CRUD functionality on their personal info, resume upload option, and single click apply options for open positions<br />
            Along with permissions and actions by role, multiple users needed to be allowed for each permission level and given access to the application. The application also needed to be mobile friendly and geared toward internal job postings and applicants.

            <br /><strong>Email me for Admin and Empolyee logins</strong><br />
        </p>
        <div><a href="http://fsdp1.ianwhitehill.com" target="_blank" class="btn btn-primary">Job Board.com</a></div>
        <div><a href="~/Content/pdf/IanWhitehillDocumentation.pdf" target="_blank" class="btn btn-primary">Project Documentation PDF</a></div>
        <div><a href="~/Content/pdf/Project Requirements for Trellov02192020 (1).pdf" target="_blank" class="btn btn-primary">Base Requirements PDF</a></div>
        <div><a href="~/Content/pdf/Project Brief - Job Boardv02192020.pdf" target="_blank" class="btn btn-primary">Project Brief PDF</a></div>
        <div><a href="https://github.com/ianwhitehill/JobBoard" target="_blank" class="btn btn-primary">Git Hub Repo</a></div>
    </div>
</div>
