
@{
    ViewBag.Title = "Small Business Project";
}
<div class="shell">
    <h2>Small Business Project</h2>
    <div class="resume">
        <p>
            For this project, you will build HTML web pages. Ensure that you have all of the following:<br />
            The standard file structure for a static website.<br />
            The total of 4 HTML files created:<br />
            Index<br />
            Classes<br />
            Team<br />
            Contact<br />
            Basic content on each HTML page:<br />
            A header with title/slogan (all pages).<br />
            Create necessary page headings<br />
            Introductory text that is relevant to the page (index.html only).<br />
        </p>
        <a href="~/Content/pdf/SmallBusinessSiteProjectBrief.pdf" target="_blank" class="btn btn-primary">Brief PDF</a>
        @*<div><a href="http://fed1studioproject.ianwhitehill.com/" target="_blank" class="btn btn-primary">Small Business Project</a></div>*@
        <div><a href="https://github.com/ianwhitehill/FED1StudioProject" target="_blank" class="btn btn-primary">Git Hub Repo</a></div>
    </div>
</div>