
@{
    ViewBag.Title = "Store Front LAB";
}

<div class="shell">
    <h2>Store Front LAB</h2>
    <div class="resume">
        <p>
            Create an ecommerce data first 2 tier web application <br />1) Create a data base in SQL<br />2) Use a template<br />3) Use Identity Samples<br />4) Add file upload<br />5) Add a section based shopping cart
            <br/><strong>Email me for Admin and Empolyee logins</strong><br />
        </p>
        <div><a href="http://storefrontlab.ianwhitehill.com" target="_blank" class="btn btn-primary">Movie Car</a></div>
        <div><a href="https://github.com/ianwhitehill/Store-Front-Lab" target="_blank" class="btn btn-primary">Git Hub Repo</a></div>
    </div>
</div>
