@{
    ViewBag.Title = "About";
}
<div class="shell">
    <section>
        <h2>Professional Objective</h2>
        <p class="tab">
            While currently enrolled in the Centriq Full Stack Developer program I am constantly learning, exploring, and building coding knowledge and skills. I am looking forward to my completion of the program in December 2020 and the exciting potential of finding the start of my development career. Beginning as a Jr Developer, my initial goal will be to gain experience while establishing a strong work/life balance. I am motivated to learn as much as I can to help grow my abilities and knowledge of both coding and the development environment. I look forward to the challenge coding can bring to a profession and am encouraged to keep up on multiple languages to avoid the silo effect. Through self-learning, on the job experience, and continued education my long-term career goal is to secure a Sr Developer or CTO role with a supportive and cutting-edge company.
        </p>
        <div class="text-center"><a href="~/Content/pdf/IanWhitehillResumeIT.pdf" target="_blank" class="btn btn-primary">Resume Download</a></div>
    </section>
    <div>
        <h2>Letter of Recommendation</h2>
        <ul>
            <li>
                <a href="~/Content/pdf/IanLetterofReference.pdf" target="_blank" class="btn btn-primary">Watchmen Security</a>
            </li>
            <li>
                <a href="~/Content/pdf/Whitehill_Letter_of_Recommendation (1).docx" target="_blank" class="btn btn-primary">US Army</a>
            </li>
        </ul>
    </div>
    <section>
        <h2>Work History</h2>
        <dl class="resume">
            <dt>Watchmen Security | Raytown, MO | 2/2020 - 9/2020</dt>
            <dd>Technician, Product Designer, Customer Service Representative, IT Support</dd>
            <dd>
                <ul>
                    <li>Install, maintain, and troubleshoot security and fire alarm systems.</li>
                    <li>Manage and train other technicians on both commercial and residential fire and security systems.</li>
                    <li>Communicate with customers and contractors to ensure jobs are complete before deadlines.</li>
                    <li>Oversee software and devices used by co-workers and on-boarding new employees.</li>
                </ul>
            </dd>
            <dt>Union Pacific RailRoad | Kansas City, MO | 12/2014 - 2/2020</dt>
            <dd>Conductor, Remote Locomotive Engineer, Hostler, Foreman, FootBoard Yardmaster</dd>
            <dd>
                <ul>
                    <li>Reviewed and completed jobs from the yardmaster/managers on duty and filed the appropriate paperwork.</li>
                    <li>Coordinated with customers and train crews for accuracy in deliveries and placement of train cars.</li>
                    <li>Implemented and upheld federal and company safety and compliance standards.</li>
                    <li>Managed all freight moving in and out of the yard and industries during my shift.</li>
                </ul>
            </dd>
            <dt>Harley-Davidson | Kansas City, MO | 1/2017 - 3/2017</dt>
            <dd>Assembler</dd>
            <dd>
                <ul>
                    <li>Kept equipment operational by completing preventive maintenance requirements; followed manufacturer's instructions; troubleshot malfunctions; called for repairs.</li>
                    <li>Maintained safe and clean working environment by complying with procedures, rules, and regulations.</li>
                    <li>Conserved resources by using equipment and supplies as needed to accomplish job results.</li>
                    <li>Maintained supplies inventory by checking stock to determine inventory level; anticipating needed supplies; placing and expediting orders for supplies; verifying receipt of supplies.</li>
                </ul>
            </dd>
            <dt>Harmar | Lee's Summit, MO | 12/2015-10/2016</dt>
            <dd>Assembler</dd>
            <dd>
                <ul>
                    <li>Prepared work to be accomplished by studying assembly instructions, blueprint/specifications/parts lists, gathering parts, subassemblies, tools, and materials.</li>
                    <li>Positioned parts and subassemblies by using templates or reading measurements.</li>
                    <li>Assembled components by examining connections for correct fit fastening parts and subassemblies.</li>
                    <li>Verified specifications by measuring completed component.</li>
                </ul>
            </dd>
            <dt>Saint Luke’s East Hospital | Lee’s Summit, MO | 03/2012 - 12/2014</dt>
            <dd>Security Officer, Self-Defense and Taser Instructor</dd>
            <dd>
                <ul>
                    <li>Protected and assisted hospital staff, patients, and visitors with regular and specially requested tasks.</li>
                    <li>Managed, mentored, and evaluated new security officers while maintaining up-to-date training for security officers.</li>
                    <li>Communicated with hospital administration and direct supervisors in both formal and informal meetings.</li>
                    <li>Facilitated and contributed to staff meetings and the implementation of changes in current security procedures</li>
                </ul>
            </dd>
            <dt>Missouri Army National Guard | Harrisonville, MO | 11/2007 - 11/2013</dt>
            <dd>Military Police Officer</dd>
            <dd>
                <ul>
                    <li>Served in multiple stateside and overseas operations as a Military Police officer such as OIF and OEF.</li>
                    <li>Aided in the rebuilding of communities on missions during Hurricane Gustav.</li>
                    <li>Performed the duties of a Military Police officer as instructed in both civilian and combat environments.</li>
                    <li>Conducted several state side relief campaigns during and after natural disasters.</li>
                </ul>
            </dd>
        </dl>
    </section>
</div>
