
@{
    ViewBag.Title = "Link";
}

<div class="shell">
    <section>
        <h2>Centriq Training</h2>
        <a href="https://www.centriq.com/about-us/" target="_blank" class="clicklink">Centriq.com</a>
    </section>
    <section>
        <h2>Classmates</h2>
        <div id="classmates">
            <ul>
                <li>
                    Ryan Pflugradt <br />
                    <a href="http://www.ryanpflugradt.com" target="_blank" class="clicklink">ryanpflugradt.com</a>
                </li>
                <li>
                    Luke Beauchamp <br />
                    <a href="http://www.lukeabeauchamp.com" target="_blank" class="clicklink">lukeabeauchamp.com</a>
                </li>
                <li>
                    Josh Ready <br />
                    <a href="http://www.joshready.com" target="_blank" class="clicklink">joshready.com</a>
                </li>
                <li>
                    Ryan Eutsler <br />
                    <a href="http://www.ryaneutsler.com" target="_blank" class="clicklink">ryaneutsler.com</a>
                </li>
                <li>
                    Arianna Harrison <br />
                    <a href="http://www.a-harrison.com" target="_blank" class="clicklink">a-harrison.com</a>
                </li>
                <li>
                    Jose Valerio Burciaga <br />
                    <a href="http://www.jvbdev.com" target="_blank" class="clicklink">jvbdev.com</a>
                </li>
                <li>
                    Isaac Beck <br />
                    <a href="http://www.isaacbeck.net" target="_blank" class="clicklink">isaacbeck.net</a>
                </li>
            </ul>
        </div>
    </section>
</div>
